

input[type=text],select {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
}
input[type=password], select {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
}


input[type=submit] {
        width: 40%;
        background-color: #4CAF50;
        color: white;
       padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align:center;
}

div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 30px;
}


.floating-box {
        display: inline-block;
        width: 500px;
        height: 500px;
        margin: 2px;
}


